scripts/fortran_runner/carma_coagtest_param.txt
scripts/fortran_runner/coag_params.nml
scripts/fortran_runner/init_nd.txt
scripts/fortran_runner/*.o
scripts/fortran_runner/*.mod
scripts/fortran_runner/test_coag_*
__pycache__/
*.egg-info/
.pytest_cache/
